{% extends 'main.html' %}
{% block title %}Фильтрация{% endblock %}
{% block colon_bar %}
    <form method="post" enctype="multipart/form-data" class="mt-5" >
        {% csrf_token %}
        <p><label for="id_font_size">Font Size</label>
            <input id="id_font_size" type="number" name="font_size" required></p>

        <p><label for="id_cutoff_freq">cutoff_freq</label>
            <input id="id_cutoff_freq" type="number" name="cutoff_freq" required></p>

        <p><label for="id_decay_level">decay_level</label>
            <input id="id_decay_level" type="number" name="decay_level" required></p>
        <p><button type="submit" class="btn btn-light">Выполнить</button></p>

{#                <div class="input-group flex-nowrap mt-1">#}
{#                    <span class="input-group-number">@</span>#}
{#                    <input type="number" class="form-control" placeholder="Font Size" required>#}
{#                </div>#}
{##}
{#                <div class="input-group flex-nowrap mt-1">#}
{#                    <span class="input-group-number">@</span>#}
{#                    <input type="number" class="form-control" placeholder="Cutoff Freq" required>#}
{#                </div>#}
{##}
{#                <div class="input-group flex-nowrap mt-1">#}
{#                    <span class="input-group-number">@</span>#}
{#                    <input type="number" class="form-control" placeholder="Decay Level" required>#}
{#                </div>#}
{#                <button type="submit" class="btn btn-primary m-2">Выполнить</button>#}
    </form>
{% endblock %}